
.jogab{
  padding: 68px 20px 0px 20px;
  background-color: #f2cb32;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 45px;
}
.divdadbackimage{
  /* border: 4px solid black;  */
  width: 45%;
  
}
.divbackimage{
  border: 2px solid red; 
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
  vertical-align: middle;
  padding-right: 10px;
  
  
  }
.myphoto{
  border-radius: 50%;
  border: 4px solid black;
  width:100%;
  height:100%;
}
