@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Pacifico&display=swap');


* {
  box-sizing: border-box;
}

.completed {
  background-color: #534d56;
  border: 1px solid #f8f1ff;
  font-family: 'Exo', sans-serif;
  color: #534d56;
  text-decoration: line-through;
}

header {
  background-color: #f8f1ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Exo', sans-serif;
  color: rgb(101, 97, 118);
}

p {
  font-family: 'Exo', sans-serif;
  color: #534d56;
}

#ids {
  font-family: 'Exo', sans-serif;
  color: #534d56;
}

#funcionamento {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: #decdf5;
  border-radius: 5px;
  height: 500px;
  border: 1px solid#f8f1ff;
}

#header {
  border: 1px solid#f8f1ff;
  background-color: #ffdeff;
}

#nav {
  border: 1px solid#f8f1ff;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  transition: all 0.2s linear 0s;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid#f8f1ff;
  background-color: #decdf5;
  margin: 5px;
  font-family: 'Exo', sans-serif;
  color: #534d56;
  text-align: center;
  font: 100;
}

.button:hover {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid#f8f1ff;
  background-color: #ffdeff;
  font-weight: 300;
  font-size: 80%;
  margin: 5px;
  font-family: 'Exo', sans-serif;
  color: #534d56;
  text-align: center;
  font: 100;
}

#texto-tarefa {
  border: 1px solid#f8f1ff;
  background-color: #ffdeff;
  margin: 5px;
  font-family: 'Exo', sans-serif;
  color: #534d56;
  text-align: center;
  font: 100;
}

li {
  background-color: #decdf5;
  font-family: 'Exo', sans-serif;
  color: #534d56;
}
ol {
  background-color: #decdf5;
}
