@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

.completed {
  background-color: #534D56;
  border: 1px solid #f8f1ff;
}

header {
 background-color: #f8f1ff;
}

h1 {
  font-family: 'Lemon', cursive;
  color: rgb(101, 97, 118) ;
}

p {
  font-family: 'Lemon', cursive;
  color: #534D56
}

#container {
  background-color:#decdf5;
  border: 1px solid#550f9c;
  border-radius: 5px;
  height: 500px;
}

#header {
  border: 1px solid#f8f1ff;
  background-color:#ffdeff;
}

#nav {
  border: 1px solid#f8f1ff;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

}

.button {
  transition: all 0.2s linear 0s;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid#f8f1ff;
  background-color:#decdf5;
}

.button:hover {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid#f8f1ff;
  background-color:#FFDEFF;
  font-weight: 500;
  font-size: large;
}

#texto-tarefa {
  border: 1px solid#f8f1ff;
  background-color: #ffdeff;
}

li {
  background-color:#decdf5;
}
ol {
  background-color:#decdf5;
}